body {

    margin: 0;

}

#card {

    background-color: #ff82af;

    margin-top: 100px;
    margin-left: 100px;

    width: 200px;
    height: 300px;

}

#cache {

    background-color: rgba(0, 0, 0, 0.65);
    width: 200px;
    height: 100px;
    
    margin-top: 200px;

}