body {

    margin: 0;

}

#card {

    background-color: #ff82af;
    width: 100px;
    height: 150px;

}

#cache {

    background-color: rgba(0, 0, 0, 0.65);
    width: 100px;
    height: 50px;
    position: relative;
    bottom: 0;

}