.items {
    display: flex;
    flex-direction: row;
    gap: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
;
}

#box-text {
    color: #684665;
    text-decoration: none;
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0.5% 2% 0.5% 1%;
    width: 24%;
    height: 36%;
    left: 6%;
    background: #D9D9D9;
    border-radius: 28px;
}

#box-text:hover {
    background-color: #d6d4d4;
    box-shadow: 0 0 7.5px #D9D9D9;
}

#box-suggest {
    color: #D9D9D9;
    text-decoration: none;
    text-align: justify;
    padding: 1%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;



    /*background: #c8d50e;*/
}

.suggest-img {
    width: 6%;
    height: 50%;
    margin-right: 5%;
}

.suggest {
    margin-bottom: 10%;
    background: #684655;
    border-radius: 66px;
    padding-left: 3.5%;
    padding-right: 3.5%;

    align-items: center;
    
    /*text-align: center;*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.suggest:hover {
    background-color: #745361;
    box-shadow: 0 0 9px #684665;
}

hr {

    margin-right: 5%;
    margin-left: 5%;
}