#main{

	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

#recherche {

	margin: 1%;

	display: flex;
    flex-direction: column;

}

#submit {

	background-color: #F2EDEB;
	color: #25181F;

}

#submit:hover {

	border-color: #FFFB0A;

}

#results {

	background-color: rgba(255, 255, 255, 0.03);;

	margin: auto;
	margin-top: 1%;
	padding : 5%;

	width: 80%;
	height: 80%;

}